.a-video-player { position: relative; overflow: hidden; }

/* Titlebar (toggled on/off wia the plugin options) */
.a-video-player .titlebar {
	position: absolute;
	height: 41px; width: 100%;
	overflow: hidden;
	
	background: #111;
	background: -moz-linear-gradient(top,  rgba(20,20,20,0.95) 0%, rgba(0,0,0,0.9) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(20,20,20,0.95)), color-stop(100%,rgba(0,0,0,0.9)));
	background: -webkit-linear-gradient(top,  rgba(20,20,20,0.95) 0%,rgba(0,0,0,0.9) 100%);
	background: -o-linear-gradient(top,  rgba(20,20,20,0.95) 0%,rgba(0,0,0,0.9) 100%);
	background: -ms-linear-gradient(top,  rgba(20,20,20,0.95) 0%,rgba(0,0,0,0.9) 100%);
	background: linear-gradient(top,  rgba(20,20,20,0.95) 0%,rgba(0,0,0,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2141414', endColorstr='#e6000000',GradientType=0 );
}

.a-video-player .titlebar .title,
.a-video-player .titlebar .duration {
	position: absolute;
	margin-top: 0.7em;
	font-size: 15px;
	color: #e2e1e1;
	text-shadow: 0 -1px 2px rgba(0,0,0,0.2);
}

.a-video-player .titlebar .title { left: 10px; }

.a-video-player .titlebar .duration { right: 10px; }

/* Controls wrapper – Contains all buttons, progress bars, time readouts etc */
.a-video-player .controls { 
	position: absolute; 
	top: 50%; left: 50%;
	width: 92px; height: 92px;
	margin: -46px 0 0 -46px;
	
	background: rgba(0,0,0,0.8);
	border-radius: 92px;
	
	opacity: 0;
	
	-moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.a-video-player.ended .controls { width: 74px; height: 74px; margin: -37px 0 0 -37px; border-radius: 74px; }

/* When the player is in the paused state don't fade away the controls or the video player just looks like an image */
.a-video-player.paused .controls, .a-video-player:hover .controls { opacity: 1; }

/* Hide everything but the play button when the video player is in its 'ended' state */
.a-video-player.ended .controls *:not(.play-pause) { display: none; }

/* Button styles */
.a-video-player .play-pause {
	display: block;
	float: left;
	cursor: pointer;
	z-index: 9998;
	
	width: 30px; height: 20px;
	background: rgba(255, 128, 128, 0.85);
	text-indent: -9999px;
	
	-moz-transition: opacity 0.15s ease-out;
    -ms-transition: opacity 0.15s ease-out;
    -o-transition: opacity 0.15s ease-out;
	-webkit-transition: opacity 0.15s ease-out;
	transition: opacity 0.15s ease-out; 
}

.a-video-player .play-pause { 
	position: absolute;
	top: 50%; left: 50%;
	width: 31px; height: 39px;
	margin: -19px 0 0 -15px;
	
	background: url('../img/controls.png') no-repeat -38px 0;
	opacity: 0.8;
}

.a-video-player .play-pause.paused { 
	background-position: 0 0; 
	width: 30px; height: 39px; 
	margin-left: -12px; 
}

.a-video-player .mute-unmute { opacity: 0.8; display: none; /* Implement this later */ }

.a-video-player .play-pause:hover, .a-video-player .mute-unmute:hover { opacity: 1; }

/* Circular progress bar styles */
.a-video-player .progress { 
	position: relative; 
	z-index: 9997; 
	width: 84px; height: 84px;
}

.a-video-player .progress:before {
	position: absolute;
	top: 4px; left: 4px;
	width: 84px; height: 84px;
	content: '';
	background: transparent;
	box-shadow: inset 0 1px 0 black, 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 84px;
}

.a-video-player .progress:after {
	position: absolute;
	top: 8px; left: 8px;
	width: 76px; height: 76px;
	content: '';
	background: transparent;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 0 black;
	border-radius: 76px;
}

.a-video-player .playback-prog,
.a-video-player .prog-hitbox {
	position: absolute;
	top: 4px; left: 4px;
}

.a-video-player .prog-hitbox { margin: -8px 0 0 -8px; z-index: 9999; }

/* Time read-out styles */
.a-video-player .timer { 
	display: block; 
	position: absolute;
	top: 27px; left: 0;
	width: 100%;
	z-index: 9990;
	display: none;
	margin: 0;
}

.a-video-player .timer p { 
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	margin-top: 2px;
}

.a-video-player .timer time {
	width: 100%;
	display: block;
	font: 900 22px/1 "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
	margin-bottom: 0;
}